@import './variables';

.contador{
    background-color: #fff;
    max-width: 100px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    .buttonCount{
        background-color: #fff;
        border: none;
        font-size: 1.2rem;
    }
    span{
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        justify-content: center
    }
}