@import 'variables';


.allCart {
    max-width: 60.25rem;
    margin: auto;

    .cartTitle {
        color: $floralWhite;
        font-family: $roboto;
        margin-top: 6.25rem;
        display: flex;
        justify-content: center;
    }

    .cartMap {
        display: flex;
        flex-direction: column;

        .cartProduct {
            display: flex;
            flex-direction: row;
            justify-content:  space-around;
            align-items: center;
            background-color: $floralWhite;
            margin: 1.25rem auto;
            border-radius: .5rem;
            p{
                font-family: $roboto;
                font-size: 1.2rem;
            }
            img {
                width: 6.25rem;
                margin-top: .25rem;
            }
            .deleteProduct{
                background: none;
                border: none;
                cursor: pointer;
                background-color: #f90000;
                width: 3.125rem;
                height: 1.875rem;
                border-radius: .5rem;
                padding: .1875rem 0 0 0;
                &:hover{
                    box-shadow: .0625rem .0625rem .9375rem #000;
                }
                img{
                    width: 1.25rem;
                }
            }
        }
    }
    .botonera{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        flex-direction: column;
        p{
            font-weight: bold;
            font-family: $roboto;
            font-size: 2rem;
        }
        .btnDelete{
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 6.25rem;
            button{
                background: none;
                border: none;
                cursor: pointer;
                padding: .625rem;
                border-radius: 3.125rem;
                font-family: $roboto;
                font-weight: 300;
                font-size: 1.5rem;
                background-color: $Flame;
                margin: .625rem;
                &:hover{
                    box-shadow: .0625rem .0625rem .9375rem #555;
                }
            }
        }
    }
}

.anyProducts {
    display: flex;
    flex-direction: column;
    margin-top: 6.25rem;
    font-family: $roboto;
    color: $floralWhite;

    h2 {
        color: $floralWhite;
        font-size: 1.875rem;
    }

    .returnBtn {
        display: flex;
        color: $floralWhite;
        background-color: $Flame;
        max-width: 6.25rem;
        margin: 6.25rem auto;
        text-decoration: none;
        border-radius: .5rem;
        padding: .3125rem;
        transition: 600ms;

        &:hover {
            background-color: $floralWhite;
            color: $Flame;
        }
    }

    .text {
        font-size: 1.75rem;
        font-family: helvetica;
        font-weight: bold;
        text-transform: uppercase;
    }

    .parpadea {
        animation-name: parpadeo;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        -webkit-animation-name: parpadeo;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
    }

    @-moz-keyframes parpadeo {
        0% {
            opacity: 1.0;
        }

        50% {
            opacity: 0.0;
        }

        100% {
            opacity: 1.0;
        }
    }

    @-webkit-keyframes parpadeo {
        0% {
            opacity: 1.0;
        }

        50% {
            opacity: 0.0;
        }

        100% {
            opacity: 1.0;
        }
    }

    @keyframes parpadeo {
        0% {
            opacity: 1.0;
        }

        50% {
            opacity: 0.0;
        }

        100% {
            opacity: 1.0;
        }
    }
}