@import 'variables';

.cartWidget {
    display: flex;
    justify-content: center;
    margin-right: 40px;
    align-items: center;
    color: $floralWhite;
    font-size: 25px;


    .itemCart {
        display: flex;
        margin: 9px 20px;
        width: 40px;
        filter: invert(49%) sepia(62%) saturate(3962%) hue-rotate(348deg) brightness(97%) contrast(89%);

        &:hover {
            -webkit-animation-name: pulse;
            animation-name: pulse;
            -webkit-animation-duration: 600ms;
            animation-duration: 600ms;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

        @-webkit-keyframes pulse {
            0% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }

            50% {
                -webkit-transform: scale3d(1.05, 1.05, 1.05);
                transform: scale3d(1.05, 1.05, 1.05);
            }

            100% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
        }

        @keyframes pulse {
            0% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }

            50% {
                -webkit-transform: scale3d(1.05, 1.05, 1.05);
                transform: scale3d(1.05, 1.05, 1.05);
            }

            100% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
        }
    }
}