@import 'variables';

.container__h1 {
    text-align: center;
    margin: auto;
    color: $floralWhite;
    font-size: 2rem;
    margin-top: 250px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card{
    display: flex;
    flex-direction: column;
}