@import "variables";

body {
    background-color: $paleSilver;


    .navbar {
        display: grid;
        grid-template-columns: 0.3fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: $eerieBlack;

        .title {
            margin: auto;
            grid-area: 1 / 1 / 2 / 2;

            img {
                width: 150px;
                filter: invert(49%) sepia(62%) saturate(3962%) hue-rotate(348deg) brightness(97%) contrast(89%);
            }
        }

        .list {
            margin: 20px;
            grid-area: 1 / 2 / 2 / 3;
            display: flex;
            justify-content: flex-end;
            flex-direction: row;

            .buttonLink {
                background-color: $Flame;
                margin-right: 20px;
                color: $paleSilver;
                text-decoration: none;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 1.4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 5px;
                border-radius: 8px;
            }
            .buttonLinkOff{
                color: $Flame;
                background-color: $paleSilver;
                text-decoration: none;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 1.4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 5px;
                border-radius: 8px;
                margin-right: 20px;

            }
        }
    }
}