$floralWhite: #FFFCF2;
$paleSilver: #CCC5B9;
$blackOlive: #403D39;
$eerieBlack: #252422;
$Flame: #EB5E28;

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto&display=swap');
$roboto: 'Roboto', sans-serif;