@import 'variables';

.contador {
    text-align: center;
    margin: auto;
    color: $lightGray;
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}