@import 'variables';

.cartWidget {
    display: flex;
    justify-content: center;
    margin-right: 40px;

    .itemCart {
        display: flex;
        margin: 10px 20px;
        width: 50px;
    }

    .contador {
        text-align: center;
        margin: auto;
        color: $lightGray;
        font-size: 1.2rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}